<div class="card" >
   <div class="card__image">
      <img src="https://images.pexels.com/photos/1640777/pexels-photo-1640777.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Salad" />
   </div>
   <div class="card__info">
      <div class="car__info--title">
         <h3>{{fooditem.Name}}</h3>
         <p>Fresh & sweet</p>
      </div>
      <div class="card__info--price">
         <p>$ 5</p>
         <span class="fa fa-star checked"></span>
         <span class="fa fa-star checked"></span>
         <span class="fa fa-star checked"></span>
         <span class="fa fa-star checked"></span>
         <span class="fa fa-star checked"></span>
      </div>
   </div>
</div>